process {
    executor = 'slurm'
    queue = 'batch'
    cpus = 8
    memory = '64 GB'
    time = '1h'
    clusterOptions = '--gres=gpu:1 --mail-user=arman.thariani@kaust.edu.sa --mail-type=ALL'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${projectDir}/containers"
}

executor {
     $slurm {
        exitReadTimeout = "60 min"
    }
}
